Repository Archont561/NinjaODM: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-pixi, isort-pixi, mypy-pixi

black-pixi:
  name: black (pixi dev)
  language: system
  entry: pixi
  args:
  - run
  - -e
  - dev
  - black
  - --config=pyproject.toml
  pass_filenames: true
  stages:
  - pre-commit

isort-pixi:
  name: isort (pixi dev)
  language: system
  entry: pixi
  args:
  - run
  - -e
  - dev
  - isort
  - --settings-path=pyproject.toml
  pass_filenames: true
  stages:
  - pre-commit

mypy-pixi:
  name: mypy (pixi dev)
  language: system
  entry: pixi
  args:
  - run
  - -e
  - dev
  - mypy
  - --config-file=pyproject.toml
  pass_filenames: true
  stages:
  - pre-push

fix(settings): export Pydantic settings to module globals correctly
  app/config/settings/utils.py
Due: black-pixi, isort-pixi, mypy-pixi

fix(docker): change docker config and related pixi workspace commands to properly start server
  Dockerfile
  docker-compose.yml
  pyproject.toml
  scripts/healthcheck.sh
  scripts/start.sh
Due: none

fix(settings): use BaseSettingsMixin for CoreSettingsMixin not BaseSettings from pydantic
  app/config/settings/mixins/core.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(settings): add custom validator for ALLOWED_HOSTS to get them from comma separated environment variable
  app/config/settings/mixins/core.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(settings): add DATA_DIR to base settings and ensure it is created in main settings
  app/config/settings/main.py
  app/config/settings/mixins/base.py
Due: black-pixi, isort-pixi, mypy-pixi

fix(settings): add type to directories to prevent mypy error
  app/config/settings/main.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(settings): disable JSON parsing for env values
  app/config/settings/mixins/base.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor: change pre-commit tasks
  pyproject.toml
Due: none

ci(git): add comitizen to project to enhance DX and configure it with pixi tasks and pre-commit
  .pre-commit-config.yaml
  pixi.lock
  pyproject.toml
Due: none

feat(settings): serve static files if DEBUG is true
  app/config/urls.py
Due: black-pixi, isort-pixi, mypy-pixi

chore: remove unused .gitkeep
  tests/unit/.gitkeep
Due: none

feat(api): create basic auth app blueprint
  app/api/auth/__init__.py
  app/api/auth/apps.py
  app/api/auth/controllers.py
  app/api/auth/models.py
  app/api/auth/schemas.py
  app/api/auth/services.py
Due: black-pixi, isort-pixi, mypy-pixi

fix(settings): make settings find authorization app and avoid naming clash with django custom ones
  app/api/custom_auth/__init__.py
  app/api/custom_auth/apps.py
  app/api/custom_auth/controllers.py
  app/api/custom_auth/models.py
  app/api/custom_auth/schemas.py
  app/api/custom_auth/services.py
  app/config/settings/mixins/apps.py
  app/manage.py
Due: black-pixi, isort-pixi, mypy-pixi

fix(pre-comit): typo in commitizen-check-range-pixi pre-commit hook
  .pre-commit-config.yaml
Due: none

refactor(api): change way of accessing api from outside module
  app/api/__init__.py
  app/config/urls.py
  tests/conftest.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(auth): create auth app and register it
  app/api/auth/__init__.py
  app/api/auth/apps.py
  app/api/auth/authenticators.py
  app/api/auth/controllers.py
  app/api/auth/models.py
  app/api/auth/schemas.py
  app/api/auth/services.py
  app/config/settings/mixins/apps.py
Due: black-pixi, isort-pixi, mypy-pixi

test(auth): expect AuthorizedService model to exist
  tests/unit/test_auth.py
Due: black-pixi, isort-pixi

refactor(config): move urls to core app
  app/config/settings/mixins/core.py
  app/core/urls.py
Due: black-pixi, isort-pixi, mypy-pixi

fix(config): remove unnecessary if condition when accessing SPATIALITE_LIBRARY_PATH
  app/config/settings/mixins/gis.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(auth): unregister 'app.api.auth' app
  app/api/auth/apps.py
  app/config/settings/mixins/apps.py
Due: black-pixi, isort-pixi, mypy-pixi

chore(app): remove unused files
  tests/unit/.gitkeep
Due: none

chore(git): ignore /migrations folder
  .gitignore
Due: none

fix(auth): remove unnecessary test
  app/api/auth/authenticators.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(auth): add minimal AuthorizedService model
  app/core/models/__init__.py
  app/core/models/auth.py
  tests/unit/test_auth.py
Due: black-pixi, isort-pixi, mypy-pixi

test(auth): expect factory and unique keys
  tests/unit/test_auth.py
Due: black-pixi, isort-pixi

feat(test): add AuthorizedServiceFactory
  tests/factories.py
Due: black-pixi, isort-pixi

test(auth): s2s HMAC auth must reject invalid signature and timestamp mismatch and return service for valid signature
  tests/unit/test_auth.py
Due: black-pixi, isort-pixi

feat(auth): create SERviceHMACAuth
  app/api/auth/authenticators.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(auth): assign api keys and secrets for AuthorizedService on creation and alter AuthorizedServiceFactory
  app/core/models/auth.py
  tests/factories.py
Due: black-pixi, isort-pixi, mypy-pixi

test(auth): create unit tests for ServiceUserJWTAuth authorization class
  tests/conftest.py
  tests/unit/test_auth.py
Due: black-pixi, isort-pixi

fix(settings): ensure jwt algorithm name is uppercase
  app/config/settings/mixins/jwt.py
Due: black-pixi, isort-pixi, mypy-pixi

fix(test): remove unnecessary fixtures
  tests/conftest.py
Due: black-pixi, isort-pixi

fix(test): ensure proper valid token format in TestServiceUserJWTAuth
  tests/conftest.py
  tests/unit/test_auth.py
Due: black-pixi, isort-pixi

feat(auth): create ServieUser and ServiceUserJWTAuth
  app/api/auth/authenticators.py
Due: black-pixi, isort-pixi, mypy-pixi

test(auth): create integration tests to check if AuthorizedService can obtain and refresh internal tokens for users
  tests/integration/test_auth.py
  tests/integration/test_dummy.py
Due: black-pixi, isort-pixi

feat(auth): change HMAC message format
  app/api/auth/authenticators.py
  tests/unit/test_auth.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(api): register controllers explicitly
  app/api/__init__.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(auth): implement internal token for registered service flow
  app/api/auth/controllers.py
  app/api/auth/schemas.py
  app/api/auth/services.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(models): refactor AuthorizedService API key and secret defaults
  app/core/models/auth.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(auth): change file name
  app/api/auth/controlers.py
Due: black-pixi, isort-pixi, mypy-pixi

Path conditions:
  black-pixi: any of: \.py$
  isort-pixi: any of: \.py$
  mypy-pixi: any of: \.py$, but not: ^(migrations/|tests/)
