Repository Archont561/NinjaODM: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-pixi, isort-pixi, mypy-pixi

.pre-commit-config.yaml:

default_language_version:
  python: python3.13

repos:
  # ============================================
  # Lightweight utility hooks
  # ============================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: debug-statements
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ['--maxkb=1000']
        stages: [pre-commit]
  # ============================================
  # All Python tooling through Pixi environments
  # ============================================
  - repo: local
    hooks:
      # === Formatting (pre-commit) ===
      - id: black-pixi
        name: black (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "black", "--config=pyproject.toml"]
        types: [python]
        pass_filenames: true
        stages: [pre-commit]

      - id: isort-pixi
        name: isort (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "isort", "--settings-path=pyproject.toml"]
        types: [python]
        pass_filenames: true
        stages: [pre-commit]

      # === Commit Message Validation (commit-msg) ===
      - id: commitizen-pixi
        name: commitizen (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "cz", "check", "--commit-msg-file"]
        stages: [commit-msg]

      # === Type Checking (pre-push) ===
      - id: mypy-pixi
        name: mypy (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "mypy", "--config-file=pyproject.toml"]
        types: [python]
        pass_filenames: true
        exclude: ^(migrations/|tests/)
        stages: [pre-push]

      # === Security (pre-push) ===
      - id: bandit-pixi
        name: bandit (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "bandit", "-r", "app"]
        pass_filenames: false
        stages: [pre-push]

      # === Django Checks (pre-push) ===
      - id: django-check-pixi
        name: Django Check (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "python", "app/manage.py", "check", "--fail-level", "ERROR"]
        pass_filenames: false
        stages: [pre-push]

      # === Testing (pre-push) ===
      - id: pytest-unit-pixi
        name: Run Unit Tests (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "pytest", "tests/unit/", "-v", "--tb=short"]
        pass_filenames: false
        require_serial: true
        stages: [pre-push]

      # === Commit History Validation (pre-push, optional) ===
      - id: commitizen-check-range-pixi
        name: commitizen check range (pixi miscellaneous)
        language: system
        entry: bash
        args:
          - -c
          - |
            if git rev-parse --verify origin/main >/dev/null 2>&1; then
              pixi run -e miscellaneous cz check --rev-range origin/main..HEAD
            else
              echo "origin/main not found, skipping commit range check"
            fi
        pass_filenames: false
        stages: [pre-push]

feat(api): implement filtering logic for Workspace model api
  app/api/controllers/workspace.py
  app/api/schemas/workspace.py
Due: black-pixi, isort-pixi, mypy-pixi

chore(pixi): add pytest-asyncio, httpx, daphne to pixi test feature
  pixi.lock
  pyproject.toml
Due: none

chore(pixi): add django-redis to pixi django feature
  pixi.lock
  pyproject.toml
Due: none

feat(settings): enchance CacheSettingsMixin with CACHE_OPTIONS env variable
  app/config/settings/mixins/cache.py
Due: black-pixi, isort-pixi, mypy-pixi

chore(pixi): add fakeredis to pixi test feature
  pixi.lock
  pyproject.toml
Due: none

test(sse): write test and fixtures to handle sse api endpoint for sending notifications to service user
  tests/integration/test_sse.py
Due: black-pixi, isort-pixi

feat(sse): create sse endpoint and utility function to send events and send event on workspace creation
  app/api/api.py
  app/api/services/workspace.py
  app/api/sse.py
Due: black-pixi, isort-pixi, mypy-pixi

test(api): write tests to check if result file can be downloaded by service user
  tests/integration/test_result.py
Due: black-pixi, isort-pixi

feat(api): implement endpoint for result file downloading
  app/api/controllers/result.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(schema): remove file_url from ResultResponse schema
  app/api/schemas/result.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(settings): assign default empty dict to CACHE_OPTIONS
  app/config/settings/mixins/cache.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(fixtures): move redis_mock fixture to tests/conftest.py
  tests/conftest.py
  tests/integration/test_sse.py
Due: black-pixi, isort-pixi

refactor(fixtures): remove image_url from ImageResponse schema
  app/api/schemas/image.py
Due: black-pixi, isort-pixi, mypy-pixi

test(api): write tests to check uploading of files to workspace
  tests/integration/test_workspace.py
Due: black-pixi, isort-pixi

feat(api): implement endpoints for uploading images to workspacesg
  app/api/controllers/workspace.py
  app/api/services/workspace.py
Due: black-pixi, isort-pixi, mypy-pixi

fix(auth): add missing import for TokenError
  app/api/auth/user.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(test): use mock_redis fixture explicitly not automatically
  tests/conftest.py
  tests/integration/test_sse.py
  tests/integration/test_workspace.py
Due: black-pixi, isort-pixi

feat(settings): ensure that TUS_UPLOAD_DIR is created on app start
  app/config/settings/main.py
Due: black-pixi, isort-pixi, mypy-pixi

fix(test): do not make api_client fixture session scoped
  tests/conftest.py
Due: black-pixi, isort-pixi

test(api): write tests to check if workspaces/upload-image-tus supports tus file uploads
  tests/integration/test_tus_upload.py
Due: black-pixi, isort-pixi

feat(api): implement endpoints for uploading images to workspace via tus protocol
  app/api/controllers/workspace.py
Due: black-pixi, isort-pixi, mypy-pixi

chore(pixi): change mypy configuration
  pyproject.toml
Due: none

chore(ci): add missing env vars
  .github/workflows/ci.yml
Due: none

chore(pixi): replace black, isort with ruff and remove prospector and bandit checks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .prospector.yml
  pixi.lock
  pyproject.toml
Due: none

chore: fix ruff lint issues and test warnings
  app/api/apps.py
  app/api/auth/service.py
  app/api/constants/odm.py
  app/api/controllers/image.py
  app/api/controllers/result.py
  app/api/controllers/task.py
  app/api/controllers/token.py
  app/api/controllers/workspace.py
  app/api/health_checks.py
  app/api/models/task.py
  app/api/schemas/gcp.py
  app/api/schemas/image.py
  app/api/schemas/odm_option.py
  app/api/schemas/result.py
  app/api/schemas/task.py
  app/api/services/task.py
  app/api/services/workspace.py
  app/config/__init__.py
  app/config/settings/mixins/__init__.py
  app/config/settings/mixins/odm.py
  tests/conftest.py
  tests/integration/test_gcp.py
  tests/integration/test_images.py
  tests/integration/test_result.py
  tests/integration/test_workspace.py
  tests/unit/test_auth.py
  tests/unit/test_result.py
Due: black-pixi, isort-pixi, mypy-pixi

fix: fix mypy duplicate test module names
  tests/__init__.py
  tests/integration/__init__.py
  tests/unit/__init__.py
Due: black-pixi, isort-pixi

fix(constants): create type-safe, mypy-compatible implementation of ServiceUser without AnonymousUser conflicts
  app/api/constants/user.py
Due: black-pixi, isort-pixi, mypy-pixi

chore(pixi): update myypy configuration
  pyproject.toml
Due: none

fix(constants): make ChoicesMixin type-safe
  app/api/constants/odm.py
Due: black-pixi, isort-pixi, mypy-pixi

chore(pixi): remove unused modules' configurations
  pyproject.toml
Due: none

chore(ci): remove mypy check on commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

chore: apply trailing-whitespace
  app/api/constants/odm.py
  app/api/constants/user.py
  pyproject.toml
Due: black-pixi, isort-pixi, mypy-pixi

chore(tests): make pytest test suite fail on first error or failure
  pyproject.toml
Due: none

refactor(test): move authenticated clients for api to separate file not as fixture to avoid ninja apps routes colisions
  tests/auth_clients.py
  tests/conftest.py
Due: black-pixi, isort-pixi

refactor(test): rewrite tests to use new authenticated api clients for -ach django-ninja-extra controller
  tests/auth_clients.py
  tests/integration/test_auth.py
  tests/integration/test_gcp.py
  tests/integration/test_image.py
  tests/integration/test_images.py
  tests/integration/test_result.py
  tests/integration/test_sse.py
  tests/integration/test_task.py
  tests/integration/test_workspace.py
Due: black-pixi, isort-pixi

feat(ci): replace postgres db with spatialite for testing purpose
  .github/workflows/ci.yml
  pyproject.toml
Due: none

chore(pixi): regenerate lockfile
  pixi.lock
  pyproject.toml
Due: none

fix(settings): remove unecessary extension for SPATIALITE_LIBRARY_PATH when on linux
  app/config/settings/mixins/gis.py
Due: black-pixi, isort-pixi, mypy-pixi

fix(settiings): monkeypatch django dignal to support older libraries like django-tus that still pass the removed 'providing_args' argument.
  app/config/entrypoint.py
Due: black-pixi, isort-pixi, mypy-pixi
