Repository Archont561/NinjaODM: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-pixi, isort-pixi, mypy-pixi

black-pixi:
  name: black (pixi dev)
  language: system
  entry: pixi
  args:
  - run
  - -e
  - dev
  - black
  - --config=pyproject.toml
  pass_filenames: true
  stages:
  - pre-commit

isort-pixi:
  name: isort (pixi dev)
  language: system
  entry: pixi
  args:
  - run
  - -e
  - dev
  - isort
  - --settings-path=pyproject.toml
  pass_filenames: true
  stages:
  - pre-commit

mypy-pixi:
  name: mypy (pixi dev)
  language: system
  entry: pixi
  args:
  - run
  - -e
  - dev
  - mypy
  - --config-file=pyproject.toml
  pass_filenames: true
  stages:
  - pre-push

test(fixtures): create service_user_api_client fixture to allow making authorized request to server api
  tests/conftest.py
Due: black-pixi, isort-pixi

fix(permissions): add missing import
  app/api/permissions/core.py
Due: black-pixi, isort-pixi, mypy-pixi

test(factories): add user_id creation to WorkspaceFactory
  tests/factories.py
Due: black-pixi, isort-pixi

test(fixtures): add patch method to service_api_client fixture
  tests/conftest.py
Due: black-pixi, isort-pixi

test(odm): create test suites to test api for workspace model
  tests/integration/test_odm.py
Due: black-pixi, isort-pixi

feat(api): implement layered architecture (controllers, services, schemas, permissions) for workspace model
  app/api/api.py
  app/api/controllers/workspace.py
  app/api/permissions/workspace.py
  app/api/schemas/workspace.py
  app/api/services/workspace.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(test): refactor unit tests for AuthorizedService to use authorized_service_factory fixture and use rf (request factory fixture) instead of unittest.mock.Mock
  tests/unit/test_auth.py
Due: black-pixi, isort-pixi

refactor(api): refactor api for accessing tokens for authorized services to resemble api for Workspace model
  app/api/api.py
  app/api/controllers/token.py
  app/api/schemas/token.py
  app/api/services/token.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(test): refactor integration tests for obtaining tokens by authorized services to use authorized_service_factory fixtrue
  tests/integration/test_auth.py
Due: black-pixi, isort-pixi

refactor(model): replace app.config.settings.main.get_settings with django.conf.settings to improve mockability of code
  app/api/models/image.py
  app/api/models/result.py
Due: black-pixi, isort-pixi, mypy-pixi

chore(app): remove app.config.settings.main.get_settings usage outside app.config
  tests/conftest.py
  tests/unit/test_settings.py
Due: black-pixi, isort-pixi

chore(settings): do not make app.config.settings.main.get_settings result cachable
  app/config/settings/main.py
Due: black-pixi, isort-pixi, mypy-pixi

chore(permissions): remove core permissions as they mimic authentication
  app/api/permissions/core.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(permissions): make has_permission method in IsWorkspaceOwner permission to return True by default
  app/api/permissions/workspace.py
Due: black-pixi, isort-pixi, mypy-pixi

test(api): change slightly test for workspace api
  tests/integration/test_odm.py
Due: black-pixi, isort-pixi

chore(pixi): add ninja-schema package
  pixi.lock
  pyproject.toml
Due: none

refactor(api): use ModelControllerBase and ModelService for workspace api to reduce boilerplate code
  app/api/controllers/workspace.py
  app/api/services/workspace.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(constants): remove comments and change ODMTaskStatus.STOPPING to ODMTaskSTATUS.PAUSING
  app/api/constants/odm.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(constants): add helpers to ODMTaskStatus to determine if task status is terminal or not
  app/api/constants/odm.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(model): add workspace_uuid computed property to ODMTask
  app/api/models/task.py
Due: black-pixi, isort-pixi, mypy-pixi

test(odm): create test suites to test api for ODMTask model
  tests/integration/test_odm.py
Due: black-pixi, isort-pixi

feat(schema): create schema for ODM task options (see https://docs.opendronemap.org/arguments/)
  app/api/schemas/odm_option.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(api): implement layered architecture (controllers, services, schemas, permissions) for ODMTask model
  app/api/api.py
  app/api/controllers/task.py
  app/api/permissions/task.py
  app/api/schemas/task.py
  app/api/services/task.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(api): use crud-route specific configs in ModelConfig instead of defining routes explicitly in WorkspaceControllerPublic
  app/api/controllers/workspace.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(task): remove workspace_uuid property from ODMTask model and use resolver in ODMTaskResponse model schema
  app/api/models/task.py
  app/api/schemas/task.py
  tests/integration/test_odm.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(test): parametrize tests of TestWorkspaceAPIUnautorizedClient
  tests/integration/test_odm.py
Due: black-pixi, isort-pixi

refactor(test): split tests for api into files
  tests/integration/test_task.py
  tests/integration/test_workspace.py
Due: black-pixi, isort-pixi

refactor(tests): split unit tests for each model into separate files
  tests/unit/test_gcp.py
  tests/unit/test_image.py
  tests/unit/test_odm.py
  tests/unit/test_result.py
  tests/unit/test_task.py
  tests/unit/test_workspace.py
Due: black-pixi, isort-pixi

feat(models): add TimeStampedModelMixin to GroundControlPoint model
  app/api/models/gcp.py
Due: black-pixi, isort-pixi, mypy-pixi

fix(test): add proper import for task api test suite
  tests/integration/test_task.py
Due: black-pixi, isort-pixi

test(odm_result): write test suites for api of ODMTaskResult model
  tests/integration/test_result.py
Due: black-pixi, isort-pixi

feat(api): implement layered architecture (controllers, services, schemas, permissions) for ODMTaskResult model
  app/api/api.py
  app/api/controllers/result.py
  app/api/permissions/result.py
  app/api/schemas/result.py
  app/api/services/result.py
Due: black-pixi, isort-pixi, mypy-pixi

test(odm_image): write test suites for api of Image model
  tests/integration/test_images.py
Due: black-pixi, isort-pixi

feat(api): implement layered architecture (controllers, services, schemas, permissions) for Image model
  app/api/api.py
  app/api/controllers/image.py
  app/api/permissions/image.py
  app/api/schemas/image.py
  app/api/services/image.py
Due: black-pixi, isort-pixi, mypy-pixi

test(odm_gcp): create test suites to test api for GroundControlPoint model
  tests/integration/test_gcp.py
Due: black-pixi, isort-pixi

feat(api): implement layered architecture (controllers, services, schemas, permissions) for GroundControlPoint model
  app/api/api.py
  app/api/controllers/gcp.py
  app/api/permissions/gcp.py
  app/api/schemas/gcp.py
  app/api/services/gcp.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(api): add core API
  app/api/api.py
  app/api/controllers/core.py
  app/api/health_checks.py
  app/api/schemas/core.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(urls): change urlpatterns handling to avoid explicit import to app.config
  app/api/urls.py
  app/config/urls.py
Due: black-pixi, isort-pixi, mypy-pixi

test(api): write prametrized test for Workspace model api filtering capabilities
  tests/integration/test_workspace.py
Due: black-pixi, isort-pixi

refactor(models): make TimeStampedModelMixin.created_at manually settable with django.utils.timezone.now
  app/api/models/mixins.py
Due: black-pixi, isort-pixi, mypy-pixi

Path conditions:
  black-pixi: any of: \.py$
  isort-pixi: any of: \.py$
  mypy-pixi: any of: \.py$, but not: ^(migrations/|tests/)
