Repository Archont561/NinjaODM: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-pixi, isort-pixi, mypy-pixi

.pre-commit-config.yaml:

default_language_version:
  python: python3.13

repos:
  # ============================================
  # Lightweight utility hooks
  # ============================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        stages: [pre-commit, pre-push]
      - id: end-of-file-fixer
        stages: [pre-commit, pre-push]
      - id: check-yaml
        stages: [pre-commit, pre-push]
      - id: check-merge-conflict
        stages: [pre-commit, pre-push]
      - id: debug-statements
        stages: [pre-commit, pre-push]
      - id: check-added-large-files
        args: ['--maxkb=1000']
        stages: [pre-commit]
  # ============================================
  # All Python tooling through Pixi environments
  # ============================================
  - repo: local
    hooks:
      # === Formatting (pre-commit) ===
      - id: black-pixi
        name: black (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "black", "--config=pyproject.toml"]
        types: [python]
        pass_filenames: true
        stages: [pre-commit]

      - id: isort-pixi
        name: isort (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "isort", "--settings-path=pyproject.toml"]
        types: [python]
        pass_filenames: true
        stages: [pre-commit]

      # === Commit Message Validation (commit-msg) ===
      - id: commitizen-pixi
        name: commitizen (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "cz", "check", "--commit-msg-file"]
        stages: [commit-msg]

      # === Type Checking (pre-push) ===
      - id: mypy-pixi
        name: mypy (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "mypy", "--config-file=pyproject.toml"]
        types: [python]
        pass_filenames: true
        exclude: ^(migrations/|tests/)
        stages: [pre-push]

      # === Security (pre-push) ===
      - id: bandit-pixi
        name: bandit (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "bandit", "-r", "app"]
        pass_filenames: false
        stages: [pre-push]

      # === Django Checks (pre-push) ===
      - id: django-check-pixi
        name: Django Check (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "python", "app/manage.py", "check", "--fail-level", "ERROR"]
        pass_filenames: false
        stages: [pre-push]

      # === Testing (pre-push) ===
      - id: pytest-unit-pixi
        name: Run Unit Tests (pixi dev)
        language: system
        entry: pixi
        args: ["run", "-e", "dev", "pytest", "tests/unit/", "-v", "--tb=short"]
        pass_filenames: false
        require_serial: true
        stages: [pre-push]

      # === Commit History Validation (pre-push, optional) ===
      - id: commitizen-check-range-pixi
        name: commitizen check range (pixi miscellaneous)
        language: system
        entry: bash
        args:
          - -c
          - |
            if git rev-parse --verify origin/main >/dev/null 2>&1; then
              pixi run -e miscellaneous cz check --rev-range origin/main..HEAD
            else
              echo "origin/main not found, skipping commit range check"
            fi
        pass_filenames: false
        stages: [pre-push]

feat(app): add pillow to django pixi dependencies
  pixi.lock
  pyproject.toml
Due: none

feat(settings): create and use mixin for ODM settings
  app/config/settings/main.py
  app/config/settings/mixins/__init__.py
  app/config/settings/mixins/odm.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(settings): create and use mixin for Tus settings
  app/config/settings/main.py
  app/config/settings/mixins/__init__.py
  app/config/settings/mixins/tus.py
Due: black-pixi, isort-pixi, mypy-pixi

refactor(app): restructure project into single api app layout
  app/api/__init__.py
  app/api/api.py
  app/api/apps.py
  app/api/auth/service.py
  app/api/auth/user.py
  app/api/constants/__init__.py
  app/api/constants/user.py
  app/api/controllers/__init__.py
  app/api/controllers/token.py
  app/api/dependencies.py
  app/api/exceptions.py
  app/api/models/__init__.py
  app/api/models/service.py
  app/api/permissions.py
  app/api/schemas/__init__.py
  app/api/schemas/core.py
  app/api/schemas/token.py
  app/api/services/__init__.py
  app/api/services/token.py
  app/config/settings/mixins/apps.py
  app/config/settings/mixins/core.py
  app/config/urls.py
  app/core/urls.py
  tests/conftest.py
  tests/factories.py
  tests/integration/test_auth.py
  tests/unit/test_auth.py
Due: black-pixi, isort-pixi, mypy-pixi

chore: remove unused imports
  app/api/services/token.py
Due: black-pixi, isort-pixi, mypy-pixi

fix(test): make sure that test settings are created in 'test' environment
  pyproject.toml
  tests/conftest.py
  tests/unit/test_settings.py
Due: black-pixi, isort-pixi

feat(models): create mixins for django orm models
  app/api/models/mixins.py
Due: black-pixi, isort-pixi, mypy-pixi

fix(test): recreate test_settings fixture
  tests/conftest.py
Due: black-pixi, isort-pixi

feat(app): add signals to api app
  app/api/apps.py
  app/api/signals.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(settings): modify ODMSettingsMixin
  app/config/settings/main.py
  app/config/settings/mixins/odm.py
Due: black-pixi, isort-pixi, mypy-pixi

test(odm): create unit tests for Workspace model
  tests/unit/test_odm.py
Due: black-pixi, isort-pixi

test(odm): add fixture and factory for Workspace model
  tests/conftest.py
  tests/factories.py
Due: black-pixi, isort-pixi

feat(models): implement Workspace model
  app/api/models/workspace.py
Due: black-pixi, isort-pixi, mypy-pixi

fix(settings): dont upload files outside MEDIA_ROOT except those used in odm task processing
  app/config/settings/main.py
  app/config/settings/mixins/odm.py
Due: black-pixi, isort-pixi, mypy-pixi

test(odm): create unit tests for Image model
  tests/unit/test_odm.py
Due: black-pixi, isort-pixi

test(odm): add fixture and factory for Image model
  tests/conftest.py
  tests/factories.py
Due: black-pixi, isort-pixi

feat(models): implement Image model
  app/api/models/image.py
Due: black-pixi, isort-pixi, mypy-pixi

test(odm): create unit tests for GroundControlPoint model
  tests/unit/test_odm.py
Due: black-pixi, isort-pixi

test(odm): add fixture and factory for GroundControlPoint model
  tests/conftest.py
  tests/factories.py
  tests/unit/test_odm.py
Due: black-pixi, isort-pixi

feat(models): implement GroundControl model
  app/api/models/gcp.py
Due: black-pixi, isort-pixi, mypy-pixi

test(odm): create unit tests for ODMTask model
  tests/unit/test_odm.py
Due: black-pixi, isort-pixi

test(odm): add fixture and factory for ODMTask model
  tests/conftest.py
  tests/factories.py
Due: black-pixi, isort-pixi

feat(models): implement ODMTask model
  app/api/constants/odm.py
  app/api/models/task.py
Due: black-pixi, isort-pixi, mypy-pixi

test(odm): create unit tests for ODMTaskResult model
  tests/unit/test_odm.py
Due: black-pixi, isort-pixi

test(odm): add fixture and factory for ODMTaskResult model
  tests/conftest.py
  tests/factories.py
Due: black-pixi, isort-pixi

feat(models): implement ODMTaskResult model
  app/api/constants/odm.py
  app/api/models/result.py
Due: black-pixi, isort-pixi, mypy-pixi

chore(test): remuse unnecessary import
  tests/unit/test_odm.py
Due: black-pixi, isort-pixi

refactor(test): register GroundControlPointFactory instead of custom gcp_factory fixture
  tests/conftest.py
  tests/unit/test_odm.py
Due: black-pixi, isort-pixi

refactor(test): register ImageFactory instead of custom image_factory fixture
  tests/conftest.py
  tests/unit/test_odm.py
Due: black-pixi, isort-pixi

test(odm): alter test for GroundControlPoint model to test related img coords for point
  tests/unit/test_odm.py
Due: black-pixi, isort-pixi

test(odm): alter GroundControlPointFactory to include imgx and imgy
  tests/factories.py
Due: black-pixi, isort-pixi

feat(model): alter GroundControlPoint model implementation
  app/api/models/gcp.py
Due: black-pixi, isort-pixi, mypy-pixi

test(fixtures): add service_api_client fixture to make authorized calls
  tests/conftest.py
Due: black-pixi, isort-pixi

fix(model) fix typo in GroundControlPoint model
  app/api/models/gcp.py
Due: black-pixi, isort-pixi, mypy-pixi

test(odm): alter TestImage suite to create temporary image files explicitly not via factory
  tests/unit/test_odm.py
Due: black-pixi, isort-pixi

test(odm): move temporary file creation from ImageFactory to temp_image_file fixture
  tests/conftest.py
  tests/factories.py
Due: black-pixi, isort-pixi

test(fixtures): set temp_media fixture to autouse to ensure MEDIA_ROOT cleanup
  tests/conftest.py
Due: black-pixi, isort-pixi

test(odm): assert that workspace also has user_id integer field
  tests/unit/test_odm.py
Due: black-pixi, isort-pixi

feat(model): add user_id BigIntegerField to Workspace model
  app/api/models/workspace.py
Due: black-pixi, isort-pixi, mypy-pixi

feat(permissions): create core permissions to check if request is made by authorized service or service user with jwt
  app/api/permissions/__init__.py
  app/api/permissions/core.py
Due: black-pixi, isort-pixi, mypy-pixi
